# ===========================
# PYTHON
# ===========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===========================
# VENV / ENVIRONMENTS
# ===========================
venv/
env/
ENV/
.venv/

# ===========================
# ENV FILES (IMPORTANT)
# ===========================
.env
*.env

# ===========================
# DOCKER
# ===========================
__debug_bin
*.log
*.pid

# ===========================
# FRONTEND (future react/vite support)
# ===========================
node_modules/
dist/
build/

# ===========================
# EDITORS / OS FILES
# ===========================
.vscode/
.idea/
.DS_Store
*.swp

