deploy:
  needs: build_and_push
  runs-on: self-hosted

  steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Pull latest Docker image
      run: |
        docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" -p "${{ secrets.DOCKERHUB_TOKEN }}"
        docker pull ${{ secrets.DOCKERHUB_USERNAME }}/stock-widget-backend:latest

    - name: Restart docker compose
      run: |
        cd /home/devasc/Stock_widget
        docker compose down
        docker compose up -d --build
